* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background-color: #607D8B;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {  
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;

}

form button {
    cursor: pointer;

    transform: all 0.3s ease;
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}