* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background-image: url('./public/img/back.jpg');
}

header {
    font-size: 1.5rem;
    color: orange;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button, .edit-input {  
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;

}

form button {
    color: orange;
}

form button {
    cursor: pointer;

    transform: all 0.3s ease;
}


.grocery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grocery-list{
    min-width: 30%;
    list-style: none;
}

.grocery {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.grocery li {
    flex: 1;
}

.edit-button, .delete-button {  
     background-color: rgb(73, 204, 73);
     color:  white;
     border: none;
     padding: 1rem;
     cursor: pointer;
     font-size: 1rem;
    
} 

.delete-button {
    background:#ff6f47;
    color: white;
}

.grocery-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-edit {
    pointer-events: none;
}


.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
